body{
	background-color:#bce4e5 ;
}
.page-wrap{
	height: 100vh;
	font-family: 'PT Sans', sans-serif;
	background-color:#00ffd4 ;
}
.page-wrap h1{
	margin: 0;
	font-weight: normal;
	text-align: center;
	font-size: 15vh;
	color: #037a37;
	text-transform: uppercase;
}
.page-wrap input{
	width: 90vw;
	height: 10vh;
	text-align: center;
	position: relative;
	top: 10vh;
	left: 4vw;
	font-size: 7vh;
	color: #037a37;
}
.page-wrap a{
	width: 50vw;
	display: flex;
	position: relative;
	top: 30vh;
	left: 25vw;
	text-decoration: none;
	font-size: 4vw;
	text-align: center;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
}
.page-wrap p{
	margin: 0;
	padding-left: 6vw;
	color: #037a37;
	text-transform: uppercase;
}
.option:last-child{
	padding-bottom: 50px;
}
