body{
  	background-color: rgb(15,15,17);
  }
  .page-wrap{

  	background-color: grey;
  	position: relative;
  	left:10%;
  	width: 80%;
  	padding-bottom: 10px;
  }
  .page-wrap h1{
  	padding: 20px;
  	text-align: center;
  	font-size: 2.5em;
  	font-family: 'Josefin Sans', sans-serif;
  	color: #fff;
  }

  .table{

  	background-color: #fff;
  	width: 60%;
  	text-align: center;
  	position: relative;
  	left: 20%;
  	right:20%;
  }

  .table td,th{

  	border-right:1px solid blue;
  	border-bottom:1px solid blue;
  }
